* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #fafaf5;
    color: #333;
}

header {
    background: #22c55e;
    align-items: baseline;
}
/* Hero */
.hero {
    min-height: 100vh;
    background: #fafaf5;
    padding: 20px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.preorder-btn {
    padding: 10px 18px;
    border: none;
    background: #3b82f6;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.hero-content {
    text-align: center;
    margin-top: 120px;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-img {
    display: grid;
    justify-content: center;
}

#countdown {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #93c5fd;
}

.launch-btn {
    padding: 14px 28px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    background: #22c55e;
    color: #000;
    cursor: pointer;
}

/* Features */
.features {
    padding: 80px 40px;
    background: #fafaf5;
    text-align: center;
}

.features h3 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #000;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.feature-card {
    background: #fafaf5;
    border: 1px solid #1e293b;
    padding: 30px;
    border-radius: 16px;
}

.feature-card h4 {
    margin-bottom: 10px;
    color: #60a5fa;
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background: #3b82f6;
    font-size: 0.9rem;
    color: #fafaf5;
}